#p {

    color: rgb(191, 192, 194);
    font-family: serif ;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 5%;
    padding-top: 20px;
    padding-right: 5%;

}

#p1 {

    color: rgb(191, 192, 194);
    font-family: serif ;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 5%;
    padding-top: 20px;
    padding-right: 5%;

}